html {
    background-color: #eee;
}
label, button {
    display: block;
    margin: 0 0 10px;
}

.result-id {
    font-size: 2em;
    font-weight: bold;
    float:left;
    margin: 0 10px 0 0;
}

h1,h2,h3,h4 {
    padding:0 0 6px;
    margin: 0;
}
.item {

}

.item:not(:last-of-type) {
    border-bottom: 1px solid #000;
}

.error {
    border:1px solid red;
}

.hide {
    display: none;
}

#pagination {
    text-align: center;
}

.pageLink {
    margin: 3px;
    padding: 3px;
    text-decoration: none;
    font-size: 1.4em;
}

#active-page {
    background-color: #fff;
}

.pageLink:hover {
    color:red;
    border: 1px solid red;
    padding: 2px;
}
