mixin link(href, name)
  li
    a(href=href)&attributes(attributes)= name

nav#main-nav
    ul
        +link('/', 'home')(class="btn")
        +link('/blog', 'blog')(class="btn")
        +link('/articles', 'articles')(class="btn")
        +link('/contact', 'contact me')(class="btn")
