extends layout

block vars
  - var description = 'Welcome to my page'
  - var additionalCssFiles = []
  - var additionalJsFiles = ['https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js', 'controllers/blogPostsController.js']

block content  
    h1= title
    
    div(ng-controller="BlogPostsCtrl")
        ul
            li(ng-repeat="post in posts")
                p {{post.name.first}} {{post.name.last}}
                p {{post.bio}}
                p {{post.age}}
