extends layout

block vars
  - var description = 'Welcome to my page'
  - var additionalCssFiles = []
  - var additionalJsFiles = ['https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js', 'https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-animate.min.js', 'controllers/blogPostsController.js']

block content  
    h1= title
    p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim ex eros, et ornare lacus ultricies eget. Nullam vel ornare metus. Vivamus semper ultrices orci, et elementum quam ultricies sit amet. Ut malesuada ipsum ut pellentesque pellentesque. Phasellus tellus felis, feugiat quis sagittis a, luctus a dui. Nunc justo velit, iaculis vel tempor sit amet, suscipit ut urna.
    
    div(ng-controller="BlogPostsCtrl")
        ul.list-standard
            li.list-standard__item.padding-1(ng-repeat="post in posts")
                h2
                    a(href="/blog/{{post.url}}") {{post.title}}
                p {{post.meta}}
                ul.tags-list
                    li.tag Tags:
                    li.tag(ng-repeat="tag in post.tags")
                        a(href="/blog/tags/{{tag}}")
                            {{tag}}
                    
