doctype html
html(class="no-js" lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content= pageDescription)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class="page #{bodyClass}")
    div.wrapper
        header
            include ./includes/head-nav.jade

        div.main
            block content

        footer
            include ./includes/footer.jade
