doctype html
html(class="no-js" lang="en" ng-app="siteApp")
  head
    block vars
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name='description', content='#{description}')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title +' | HTML, CSS, Javascript'
    link(rel='stylesheet', href='/css/style.css')
    link(href='/img/favicon.ico', rel='shortcut icon', type='image/vnd.microsoft.icon')
    if additionalCssFiles
        each file in additionalCssFiles
            link(rel='stylesheet', href='#{file}')
     
  body
    div.wrapper
        header
            include ./includes/head-nav.jade

        div.main
            block content
            
        footer
            include ./includes/footer.jade
    if additionalJsFiles
        each file in additionalJsFiles
            script(type='text/javascript', src='#{file}')
