extends layout

block vars
  - var description = title
  - var additionalCssFiles = []
  - var additionalJsFiles = []

block content  
    h1= title
    p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim ex eros, et ornare lacus ultricies eget. Nullam vel ornare metus. Vivamus semper ultrices orci, et elementum quam ultricies sit amet. Ut malesuada ipsum ut pellentesque pellentesque. Phasellus tellus felis, feugiat quis sagittis a, luctus a dui. Nunc justo velit, iaculis vel tempor sit amet, suscipit ut urna.

                    
