html {
    font: 1.2rem "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #eee;
}
body {
    padding: 0;
    margin: 0;
}
.wrapper {
    max-width: 770px;
    min-height: 400px;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 6px;
    margin: 15px auto;
    background-color: #fff;
}
#main-nav ul {
    padding: 0;
    margin: 0;
}
#main-nav ul li {
    display: inline-block;
    padding: 0 5px;
    margin: 0 10px;
}
#main-nav ul li:first-child {
    padding-left: 0;
    margin-left: 0;
}
h1,h2,h3 {
    padding: 0;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
footer {
    text-align: center;
}

.ng-enter {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.ng-enter.ng-enter-active {
    opacity: 1;
}
